{% extends 'User/base.html' %} {% block main %}

<h1>test user change password</h1>
<form action="/setpassword/" method="POST">
  {% csrf_token %}
  <label for="old-password">舊密碼</label>
  <input
    id="old-password"
    type="password"
    class="validate"
    name="oldpassword"
    value="username"
  />

  <label for="new-password">新密碼</label>
  <input
    id="new-password"
    type="password"
    class="validate"
    name="newpassword"
    value="username9"
  />

  <label for="new2-password">再一次輸入新密碼</label>
  <input
    id="new2-password"
    type="password"
    class="validate"
    name="new2password"
    value="username9"
  />

  <input type="submit" value="send" />
</form>
{% endblock main %}
